<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>南瓜-金韩蜜本南瓜</string>
		<key>Number</key>
		<string>6000斤</string>
		<key>Conent</key>
		<string>采购规格：单重：3斤以上  瓜形：椭圆形
指定产地：新疆巴音...............</string>
		<key>Time</key>
		<string>剩余时间23小时</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南瓜-金韩蜜本南瓜</string>
		<key>Number</key>
		<string>6000斤</string>
		<key>Conent</key>
		<string>采购规格：单重：3斤以上  瓜形：椭圆形
指定产地：新疆巴音...............</string>
		<key>Time</key>
		<string>剩余时间23小时</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南瓜-金韩蜜本南瓜</string>
		<key>Number</key>
		<string>6000斤</string>
		<key>Conent</key>
		<string>采购规格：单重：3斤以上  瓜形：椭圆形
指定产地：新疆巴音...............</string>
		<key>Time</key>
		<string>剩余时间23小时</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南瓜-金韩蜜本南瓜</string>
		<key>Number</key>
		<string>6000斤</string>
		<key>Conent</key>
		<string>采购规格：单重：3斤以上  瓜形：椭圆形
指定产地：新疆巴音...............</string>
		<key>Time</key>
		<string>剩余时间23小时</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>南瓜-金韩蜜本南瓜</string>
		<key>Number</key>
		<string>6000斤</string>
		<key>Conent</key>
		<string>采购规格：单重：3斤以上  瓜形：椭圆形
指定产地：新疆巴音...............</string>
		<key>Time</key>
		<string>剩余时间23小时</string>
	</dict>
</array>
</plist>
